<p id="notice"><%= notice %></p>

<p>
  <strong>Point:</strong>
  <%= @post.point_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @post.detail %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
